:root {
    --accent-yellow: #F1D302;
    --accent-red: #E2294F;
    --green-light: #b1ffbb;
    --green-dark: #003a00;
}

/* ---------  RESET  --------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, 
body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  max-width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font: inherit;
}

/* -------- TYPOGRAPHY  -------- */
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: clamp(1rem, 1.5rem, 2.3rem);
    font-weight: 300;
    text-align: center;
}

h1 {
    font-size: clamp(1.5rem, 3.5rem, 6rem);
    color: var(--accent-yellow);
}

.message {
    font-size: clamp(1.2rem, 2.5rem, 3rem);
    font-style: bold;
    font-weight: 400;
    color: var(--accent-red);
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.results-box {
  color: var(--green-light);
}

/* -------- LAYOUT -------- */
body {
    background-image: url("cat-blackjack-mobile.png"), radial-gradient(circle at top left, #004700 15%, #005e01 30%, #2A9134);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 0 3em;
}

.container {
    padding: 1em .5em;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* -------- COMPONENTS-------- */
.btn-box {
    margin-top: 2em;
    display: flex;
    gap: 2.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

button {
    width: 45vw;
    padding: .5em .3em;
    border: none;
    border-radius: 20px;
    background-color: var(--green-light);
    color: var(--green-dark);
    font-weight: 400;
    font-size: clamp(1.5rem, 2rem, 3.5rem);
    cursor: pointer;
}

button:focus,
button:hover {
    background-color: var(--green-dark);
    color: var(--green-light);
}

button:active {
  box-shadow: 6px 7px 10px 5px rgba(25,25,25,0.26);
  -webkit-box-shadow: 6px 7px 10px 5px rgba(25,25,25,0.26);
  -moz-box-shadow: 6px 7px 10px 5px rgba(25,25,25,0.26);
  margin: 2px 5px 1px 5px;
  transition: all 10s ease-out 1s; 
  outline: none;
}